html {
    scroll-padding-top: 120px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }

h1 {
    margin: 15px;
    font-weight: 100;
    font-size: 50px;
}

h2 {
    font-weight: 100;
    font-size: 30px;

}

.flexbox-header {
    position: sticky;
    top: 10px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    background-color: white;
    
    padding: 15px;
    height: 60px;

}

.header-link {
    text-decoration: none;
    color:black;
}

.header-link:hover{
    color:brown;
}

.header-link:active{
    color:chocolate;
}

.user-input {
    display: grid;
    margin-bottom: 5px;
}

.music-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 20px;
}

.hightlight-group {
    display: flex;
    justify-content: center;
}

.highlight-button {
    flex-grow: 1;

    background-color: transparent;
    border-style: none;
    
}

.highlight-button:hover {
    font-size: larger;
}

.highlight-image {
    height: 90vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight-background {
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.single-image {
    height: 150px;
    padding: 10px;
}

.image-button {
    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    
    margin-bottom: 5px;
}

.image-button:hover {
    background-color:lightgrey;
}

.image-button:active {
    background-color: darkblue;
}

.hidden-image {
    opacity : .5;
}

.image-grouping {
    display: flex;
    align-content:flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    row-gap: 15px;
    column-gap: 10px;
}

.under-image-container {
    display: flex;
    flex-wrap: wrap;

    width: 200px;
}

.language-container {
    align-self: center;
    display: grid;
    row-gap: 5px;
}

.flag-icon {
    width: 30px;
}

.flag-button {
    border-style:hidden;

    background-color: transparent;

    padding: 0px;
}

.flag-button:hover {
    opacity: .7;
}

.flag-button:active {
    opacity: .5;
}

.error-message {
    color: red;
    font-style: italic;

    margin-bottom: 10px;
}

.scene-filter-container {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;

    gap: 15px;
    margin-bottom: 10px;
}

.scene-filter-container button {
    background-color: transparent;
    border-style: none;

    font-size: 18px;
}

.scene-filter-container button:hover {
    color: brown
}

.scene-filter-container button:active {
    color: chocolate;
}

.scene-name-highlight {
    color: darkblue;
    font-weight: 300;
}

.scene-name-regular {
    color: black;
    font-weight: 200;
}

.scene-linked {
    opacity: 1
}

.scene-unlinked {
    opacity : .5
}