html {
    scroll-padding-top: 270px;
  }

.flexbox-header {
    position: sticky;
    top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: wheat;
    padding: 1em;
}

.header-link {
    text-decoration: none;
    color:black;
}

.user-input {
    display: grid;
    margin-bottom: 5px;
}

.highlight-image {
    height: 80vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight-background {
    background-color: black;
    padding: 10px 10px 30px 10px;
}

.single-image {
    height: 150px;
    padding: 10px;
}

.image-button {
    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    
    margin-bottom: 5px;
}

.image-button:hover {
    background-color:lightgrey;
}

.image-button:active {
    background-color: blue;
}

.image-grouping {
    display: flex;
    align-content:flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    row-gap: 15px;
    column-gap: 10px;
}

.language-container {
    display: grid;
    row-gap: 5px;
}

.flag-icon {
    width: 30px;
}

.flag-button {
    border-style: hidden;

    background-color: transparent;

    padding: 0px;
}

.flag-button:hover {
    opacity: .7;
}

.flag-button:active {
    opacity: .5;
}

.error-message {
    color: red;
    font-style: italic;

    margin-bottom: 10px;
}